<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <style>
      @font-face {
        font-family: 'OPTIEdgar';
        src: url('{{ 'OPTIEdgarBold-Extended.otf' | asset_url }}') format('opentype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'HelveticaNowDisplay';
        src: url('{{ 'HelveticaNowDisplay-Bold.ttf' | asset_url }}') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'gainage-base.css' | asset_url | stylesheet_tag }}
    {{ 'gainage-dawn-overrides.css' | asset_url | stylesheet_tag }}
    {{ 'gainage-password.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="gainage-theme gainage-password-body">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
